label {
    display: block;
}

.formTitle {
    text-align: center;
}

.mediaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgWidth {
    width: 100%;
}

.mainTagWH {
    width: 120px;
    height: 120px;
    background-color: green;
}

.supportingTagWH {
    width: 50%;
    height: 50%;
    background-color: yellow;
    color: black;
}

.mainTagBM {
    background-color: green;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
}

.supportingTagOneBM {
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin: 15px 7px;
    border: 5px dashed black;
}

.supportingTagTwoBM {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    border-radius: 50%;
    border: 7px double white;
}

.bodyB {
    background-color: green;
    height: 240px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgB {
    background-image: url('../assets/images/Project_Zomboid_Capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 12%;
    height: 200px;
    width: 150px;
}

.firstColorC {
    background-color: #123;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondColorC {
    background-color: rgb(0, 50, 255);
    color: gray;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdColorC {
    background-color: rgba(0, 55, 255, 0.5);
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divHoverPCPE {
    background-color: rgb(0, 50, 255);
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.divHoverPCPE:hover {
    background-color: green;
}

.inputFocusPCPE {
    margin: 20px 0px;
}

.inputFocusPCPE:focus {
    background-color: rgb(200, 200, 200);
}

.divBeforePCPE, .divAfterPCPE {
    background-color: rgba(0, 55, 255, 0.5);
    margin: 10px;
}

.divBeforePCPE::before {
    content: '→';
}

.divAfterPCPE::after {
    content: '←';
}

.displayBlockD {
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px 0px;
    background-color: yellow;
    border: 1px solid black;
}

.displayInlineD {
    display: inline;
    width: 60px;
    height: 60px; 
    margin: 20px 0px;   
    background-color: yellow;
    border: 1px solid black;
}

.displayInlineBlockD {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px 0px;
    background-color: yellow;
    border: 1px solid black;
}

.mainTagOneDF {
    background-color: blue;
    color: black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.mainTagTwoDF {
    background-color: green;
    color: black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.supportingTagDF {
    background-color: white;
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
}

.mainTagOneDG {
    background-color: blue;
    color: black;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.mainTagTwoDG {
    background-color: green;
    color: black;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25px;
}

.supportingTagDG {
    background-color: white;
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.mainTagKF {
    width: 250px;
}

.supportingTagKF {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: animationDiv 10s infinite;
}

@keyframes animationDiv {
    0% {
        top: 0px; left: 0px;
        background-color: black; color: aqua
    }

    25% {
        top: 0px; left: 175px;
        background-color: aqua; color: black;
    }

    50% {
        top: 275px; left: 175px;
        background-color: black; color: aqua;
    }

    75% {
        top: 275px; left: 0px;
        background-color: aqua; color: black;
    }

    100% {
        top: 0px; left: 0px; 
        background-color: black; color: aqua;
    }
}