.card {
    max-width: 100%;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, .1);
    padding: 15px;
    border-radius: 10px
}

.adjustWidth {
    width: 100%;
}

.multipleCards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardWithExample{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 33%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    color: rgb(150, 150, 150);
}