.card {
    max-width: 100%;
    overflow-x: auto;
    background-color: var(--bg-color-alpha-01);
    padding: 15px;
    border-radius: 10px
}

.adjustWidth {
    width: 100%;
}

.multipleCards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardWithExample{
    background-color: var(--bg-color-03);
    color: var(--color-01);
    width: 33%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    color: var(--color-05);
}