* {
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    padding-top: 87px;
}

header {
    width: 100%;
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0px;
}

main {
    width: 50%;
}

footer {
    width: 25%;
    height: 150px;
    align-content: center;
}

.title {
    text-align: center;
}

.moduleOne {
    border-radius: 5px;
    border: solid 1px rgb(25, 25, 25);
    padding: 0px 10px;
}

.moduleOne:hover {
    background-color: rgb(27, 27, 27);
    border: solid 1px rgb(45, 45, 45);
}

.textFooter {
    text-align: center;
}

.a:link {
    color: #fff;
}

.a:visited {
    color: #ffffff;
}